@model CalculationVariable




    <div class="mb-3">
        <label class="form-label" asp-for="Variable"></label>
        <input class="form-control" asp-for="Variable">
        <span asp-validation-for="Variable"></span>
    </div>
<div class="mb-3">
    <label class="form-label" asp-for="PrivateAdressPrice"></label>
    <input class="form-control" asp-for="PrivateAdressPrice">
    <span asp-validation-for="PrivateAdressPrice"></span>
</div>




    

  
   
   