
<div>


    <partial name="_ToolBarPartial" />

    @section Scripts {
        <partial name="_DataTablesPartial" />
        <script>
            $(() => {
                const dt = createDatatable('/admin/priceedits/tabledata', [

                    
                    { title: 'Ülke Adı', data: 'countryName' },
                    { title: 'Eyalet Adı', data: 'stateName' },
                    { title: 'Amazon depo Adı', data: 'wareHouse' },
                    { title: 'kilo aralığı', data: 'kg' },

                    { title: 'Gönderim türü', data: 'genreName' },
                    { title: 'Depo Gönderim Ücreti', data: 'price' },









                    {
                        title: '',
                        data: 'id',
                        render: (r, i, d, t) => {
                            return `
                                                            <a class="btn btn-link" href="/admin/priceedits/edit/${d.id}"><i class="fa fa-edit"></i> Düzenle</a>
                                                            <a class="btn btn-link remove-btn" href="/admin/priceedits/delete/${d.id}"><i class="fa fa-trash"></i> Sil</a>
                                            `;
                        }
                    }
                ], () => {

                    $('.remove-btn').on('click', (evt) => {
                        Swal.fire({
                            icon: 'warning',
                            title: 'UYARI!',
                            html: 'Eminmisiniz?',
                            showCancelButton: true,
                            cancelButtonText: 'İptal',
                            confirmButtonText: 'Sil'

                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location = $(evt.currentTarget).attr('href');
                            }
                        })
                        return false;
                    });

                });

            })
        </script>
    }
</div>
