@model ContainerGenre





    <div class="mb-3">
        <label class="form-label" asp-for="Genre"></label>
        <input class="form-control" asp-for="Genre">
        <span asp-validation-for="Genre"></span>
    </div>

    
    

  
   
   