@model BoxProduct



    <div class="mb-3">
        <label class="form-label" asp-for="Quantity"></label>
    <input class="form-control" asp-for="Quantity">
    <span asp-validation-for="Quantity"></span>
    </div>
<div class="mb-3">
    <label class="form-label" asp-for="Weight"></label>
    <input class="form-control" asp-for="Weight">
    <span asp-validation-for="Weight"></span>
</div>

<div class="mb-3">
    <label class="form-label" asp-for="Width"></label>
    <input class="form-control" asp-for="Width">
    <span asp-validation-for="Width"></span>
</div>
<div class="mb-3">
    <label class="form-label" asp-for="Length"></label>
    <input class="form-control" asp-for="Length">
    <span asp-validation-for="Length"></span>
</div>
<div class="mb-3">
    <label class="form-label" asp-for="Height"></label>
    <input class="form-control" asp-for="Height">
    <span asp-validation-for="Height"></span>
</div>

<div class="mb-3">
    <label class="form-label" asp-for="ProductCount"></label>
    <input class="form-control" asp-for="ProductCount">
    <span asp-validation-for="ProductCount"></span>
</div>


   
   