@model BoxProduct
@{
    ViewData["title"] = "Kayıt Güncelleme";
}
<div class="card">
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">         
            <partial name="_FieldsPartial" model="@Model" />
            <hr />
            <button type="submit" class="btn btn-primary">
                Kaydet
            </button>
            <a class="btn btn-link" asp-action="Index">İptal</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}