@model ContainerProduct



    <div class="mb-3">
        <label class="form-label" asp-for="Quantity"></label>
    <input class="form-control" asp-for="Quantity">
    <span asp-validation-for="Quantity"></span>
    </div>


<div class="mb-3">
    <label class="form-label" asp-for="Ton"></label>
    <input class="form-control" asp-for="Ton">
    <span asp-validation-for="Ton"></span>
</div>
<div class="mb-3">
    <label class="form-label" asp-for="TotalTon"></label>
    <input class="form-control" asp-for="TotalTon">
    <span asp-validation-for="TotalTon"></span>
</div>


   
   