@using ShipBu.Data

@model BoxProduct
<div class="container mt-5">
    <div class="row">
        <form method="post">
            <div class="col-md-2 mb-1">
                <label>ADET</label>
                <input asp-for="Quantity" type="number" class="form-control" id="qty1" name="Quantity" value="1" style="width:70px" oninput="autoMultiply()" />
            </div>
            <div class="col-md-2 mb-1">
                <label>AĞIRLIK(KG)</label>
                <input asp-for="Weight" type="number" class="form-control" id="qty2" name="Weight" value="1" style="width:70px" oninput="autoMultiply()" />
            </div>
            <div class="col-md-2 mb-1">
                <label>TOPLAM AĞIRLIK</label>
                <input asp-for="TotalWeight" type="text" class="form-control" id="result" readonly />
            </div>
            <div class="col-md-2 mb-1">
                <label>EN</label>
                <input asp-for="Width" type="number" class="form-control" style="width:70px" oninput="autoMultiply()" />
            </div>
            <div class="col-md-2 mb-1">
                <label>BOY</label>
                <input asp-for="Length" type="number" class="form-control" style="width:70px" oninput="autoMultiply()" />
            </div>
            <div class="col-md-2 mb-1">
                <label>YÜKSEKLİK</label>
                <input asp-for="Height" type="number" class="form-control" style="width:70px" oninput="autoMultiply()" />
            </div>
            <button type="submit" class="btn btn-light px-5">Register</button>
        </form>

    </div>
