@model Shipment




    <div class="mb-3">
        <label class="form-label" asp-for="ShipmentNo"></label>
    <input class="form-control" asp-for="ShipmentNo">
    <span asp-validation-for="ShipmentNo"></span>
    </div>
<div class="mb-3">
    <label class="form-label" asp-for="SenderCountry"></label>
    <input class="form-control" asp-for="SenderCountry">
    <span asp-validation-for="SenderCountry"></span>
</div>
<div class="mb-3">
    <label class="form-label" asp-for="RecipientCountry"></label>
    <input class="form-control" asp-for="RecipientCountry">
    <span asp-validation-for="RecipientCountry"></span>
</div>
<div class="mb-3">
    <label class="form-label" asp-for="Buyer"></label>
    <input class="form-control" asp-for="Buyer">
    <span asp-validation-for="Buyer"></span>
</div>


<div class="mb-3">
    <label class="form-label" asp-for="PriceText"></label>
    <input class="form-control" asp-for="PriceText">
    <span asp-validation-for="PriceText"></span>
</div>

<div class="mb-3">
    <label class="form-label" asp-for="TrackingStatu"></label>
    <input class="form-control" asp-for="TrackingStatu">
    <span asp-validation-for="TrackingStatu"></span>
</div>
<div class="mb-3">
    <label class="form-label" asp-for="RequestStatu"></label>
    <input class="form-control" asp-for="RequestStatu">
    <span asp-validation-for="RequestStatu"></span>
</div>
<div class="mb-3">
    <label class="form-label" asp-for="TrackingId"></label>
    <input class="form-control" asp-for="TrackingId">
    <span asp-validation-for="TrackingId"></span>
</div>
<div class="mb-3">
    <label class="form-label" asp-for="Date"></label>
    <input class="form-control" asp-for="Date">
    <span asp-validation-for="Date"></span>
</div>